<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeleCanchas</title>
  <link rel="stylesheet" href="../css/inicio.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <header>
    <div  class="container-md">
      <h1>TELECANCHAS</h1>  
    </div>    
    <nav>
        <a class='bx bxs-home' href="/">Inicio </a>
        <a class='bx bxs-calendar'href="/reserva">Reserva de Cancha</a>
    </nav>
  </header>
  <main>
    <div class="container">
        <section>
          <h2>Título de la sección</h2>
          <p>Contenido de la sección.</p>
        </section>
        <section>
          <h2>Título de la sección</h2>
          <p>Contenido de la sección.</p>
        </section>
    </div>
  </main>
</body>
</html>