<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto TEL335 // Nombre del Grupo</title>
  <link rel="stylesheet" href="../css/login.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="isagi">
        <img src="/../images/bluelock.png" alt="logo" id="logo-USM">
    </div>
    <div class="wrapper">
        <form action="">
            <h1>Iniciar Sesión</h1>
            <div class="input-box">
                <input type="text" placeholder="Correo Institucional" required>
                <i class='bx bxs-user-circle' ></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Contraseña" required>
                <i class='bx bxs-lock' ></i>
            </div>

            <div class="remember-forgot">
                <label>
                    <input type="checkbox"> Recordarme
                </label><a href="/recuperar"> ¿Recordar Contraseña?</a>
            </div>

            <button type="Submit" class="btn">Ingresar</button>

            <div class="register-link">
                <p>Aún no creas tu cuenta? <a href="/register">Registrarse</a></p>
            </div>
        </form>
    </div>


    

</body>

</html>