<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto TEL335 // Nombre del Grupo</title>
  <link rel="stylesheet" href="../css/login.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="isagi">
        <img src="/../images/bluelock.png" alt="logo" id="logo-USM">
    </div>
    <div class="wrapper">
        <form id="loginForm">
            <h1>Iniciar Sesión</h1>
            <div class="input-box">
                <input type="email" id="email" placeholder="Correo Institucional" required>
                <i class='bx bxs-user-circle' ></i>
            </div>
            <div class="input-box">
                <input type="password" id="password" placeholder="Contraseña" required>
                <i class='bx bxs-lock' ></i>
            </div>

            <div class="remember-forgot">
                <label>
                    <input type="checkbox"> Recordarme
                </label><a href="/recuperar"> ¿Recordar Contraseña?</a>
            </div>

            <button type="Submit" class="btn">Ingresar</button>

            <div class="register-link">
                <p>Aún no creas tu cuenta? <a href="/register">Registrarse</a></p>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('loginForm').addEventListener('submit', async function (e) {
        e.preventDefault();

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        try {
            const response = await fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email, password }),
            });

            const data = await response.json();
            if (response.ok) {
                localStorage.setItem('token', data.token);
                localStorage.setItem('name', data.name);
                localStorage.setItem('email', data.email);
                window.location.href = '/perfil';
            } else {
            alert('Login failed: ' + data.msg);
            }
        } catch (error) {
            alert('Error: ' + error.message);
        }
        });
    </script>

    

</body>

</html>