<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto TEL335 // Nombre del Grupo</title>
  <link rel="stylesheet" href="../css/login.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="isagi">
      <img src="/../images/bluelock.png" alt="logo" id="logo-USM">
    </div>
    <div class="wrapper">
      <form action="">
        <h1>Establecer Nueva Contraseña</h1>
        
        <div class="input-box">
          <input type="password" name="nueva-contraseña" placeholder="Nueva Contraseña" required>
          <i class='bx bxs-lock'></i>
        </div>
        
        <div class="input-box">
          <input type="password" name="confirmar-contraseña" placeholder="Confirmar Contraseña" required>
          <i class='bx bxs-lock'></i>
        </div>
        
        <button type="submit" class="btn"><a href="/login">Establece contraseña</a> </button>

        <div class="register-link">
          <p> ¿Deseas volver? <a href="/perfil">Volver al Perfil</a></p>
        </div>
        
      </form>
    </div>
  </body>
  </html>