<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto TEL335 // Nombre del Grupo</title>
  <link rel="stylesheet" href="../css/login.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="isagi">
      <img src="/../images/bluelock.png" alt="logo" id="logo-USM">
    </div>
    <div class="wrapper">
      <form action="">
        <h1>Recuperación de Contraseña</h1>
        <div class="input-box">
          <input type="email" name="correo" placeholder="Correo Electrónico" required>
          <i class='bx bxs-envelope'></i>
        </div>
        
        <button type="submit" class="btn"><a href="/nueva">Enviar Instrucciones</a> </button>
        
        <div class="register-link">
          <p>¿Recuerdas tu contraseña? <a href="/login">Iniciar Sesión</a></p>
        </div>
      </form>
    </div>

  </body>
  </html>

</html>
