<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Perfil // Nombre del Grupo</title>
  <link rel="stylesheet" href="../css/login.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form action="" method="POST">
            <h1>Editar Perfil</h1>

            <div class="input-box">
                <input type="text" placeholder="Nombre y Apellidos" required>
                <i class='bx bxs-user-circle'></i>
            </div>

            <div class="input-box">
                <input type="email" placeholder="Correo Institucional" required>
                <i class='bx bxs-envelope'></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Nueva Contraseña" required>
                <i class='bx bxs-lock'></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Repetir Nueva Contraseña" required>
                <i class='bx bxs-lock'></i>
            </div>

            <button type="submit" class="btn">Actualizar</button>

            <div class="register-link">
                <p> ¿Deseas volver? <a href="/perfil">Volver al Perfil</a></p>
            </div>
        </form>
    </div>
</body>
</html>
