<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reserva de Canchas de Fútbol</title>
  <link rel="stylesheet" href="../css/ver_reservas_adm.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <header>
    <div class="container-md">
      <img src="/../images/Logo_UTFSM.png" alt="logo" id="logo-USM">
      <h1>Reserva de Canchas</h1>
    </div>
    <nav>
      <a class='bx bxs-home' href="/inicio">Inicio</a>
      <a class='bx bxs-calendar' href="/reserva">Reserva de Cancha</a>
    </nav>
  </header>
  <div class="container">
    <h2>Reservas Realizadas</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cancha</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan Pérez</td>
                <td>Cancha 1</td>
                <td>2024-04-15</td>
                <td>16:00</td>
                <td>juan.perez@usm.cl</td>
                <td>12345678</td>
                <td>
                    <button class="btn-action edit">Editar</button>
                    <button class="btn-action delete">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>Maria López</td>
                <td>Cancha de Tenis</td>
                <td>2024-04-16</td>
                <td>10:00</td>
                <td>maria.lopez@usm.cl</td>
                <td>87654321</td>
                <td>
                    <button class="btn-action edit">Editar</button>
                    <button class="btn-action delete">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>Carlos Ruiz</td>
                <td>Cancha 1</td>
                <td>2024-04-18</td>
                <td>18:00</td>
                <td>carlos.ruiz@usm.cl</td>
                <td>98765432</td>
                <td>
                    <button class="btn-action edit">Editar</button>
                    <button class="btn-action delete">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>Laura Méndez</td>
                <td>Cancha 2</td>
                <td>2024-04-19</td>
                <td>20:00</td>
                <td>laura.mendez@usm.cl</td>
                <td>12345678</td>
                <td>
                    <button class="btn-action edit">Editar</button>
                    <button class="btn-action delete">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</body>
</html>
