<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Integrantes del Grupo</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header>
    <h1>TELECANCHAS</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/acerca">Acerca de</a>
      <a href="/integrantes">Integrantes del grupo</a>
      <a href="/faq">Seccion FAQ</a>
    </nav>
  </header>
  <main>
    <div class="container">
      <h2>Integrantes del Grupo</h2>
      <section class="integrantes">
        <article>
          <img src="/../images/imagen1.jpg" alt="Nombre del integrante 1" width="200" height="200">
          <h3>Alex Aravena Tapia</h3>
          <p>GESTOR/COLABORADOR.</p>
        </article>
        <article>
          <img src="/../images/imagen3.jpg" alt="Nombre del integrante 2" width="300" height="300">
          <h3>Jesús Chaffe González</h3>
          <p>COLABORADOR.</p>
        </article>
        <article>
          <img src="/../images/imagen2.jpg" alt="Nombre del integrante 3" width="300" height="300">
          <h3>Daniel Barriga Villanueva</h3>
          <p>DESARROLLADOR.</p>
        </article>
        <article>
          <img src="/../images/imagen4.jpg" alt="Nombre del integrante 4" width="300" height="300">
          <h3>Rodrigo Lobos Cabellos</h3>
          <p>ANALISTA /DESARROLLADOR.</p>
        </article>
      </section>
    </div>
  </main>

</body>
</html>