<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio</title>
  <link rel="stylesheet" href="../css/reserva.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  
  <div id="header-placeholder"></div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      fetch("index.html")
        .then(response => response.text())
        .then(data => {
          document.getElementById("header-placeholder").innerHTML = data;
        });
    });
  </script>
<!-- mensaje prueba-->
  <main>
    <h1>Bienvenido/a [Nombre del Usuario]</h1>
    <p>Selecciona una opción para comenzar.</p>
  </main>
</body>
</html>
