<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio</title>
  <link rel="stylesheet" href="../css/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="header.js" defer></script>
</head>
<body>
  <div id="header-placeholder"></div>
  
  <main>
    <h1 id="welcome-message">Bienvenido/a [Nombre del Usuario]</h1>
    <h2 id="calendar-text">A continuación se presentan los horarios disponibles:</h2>
    <div class="calendar">
      <div class="header">
          <h2>Calendario Semanal</h2>
      </div>
      <div class="week">
          <ul class="time-slots">
              <li></li>
              <li>1-2</li>
              <li>3-4</li>
              <li>5-6</li>
              <li>7-8</li>
              <li>9-10</li>
              <li>11-12</li>
              <li>13-14</li>
              <li>15-16</li>
          </ul>
          <div class="days">
              <div class="day">
                  Lunes
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
              </div>
              <div class="day">
                  Martes
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
              </div>
              <div class="day">
                  Miércoles
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
              </div>
              <div class="day">
                  Jueves
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
              </div>
              <div class="day">
                  Viernes
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
                  <div class="block"></div>
              </div>

          </div>
      </div>
  </div>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Obtener el nombre del usuario desde localStorage
      const userName = localStorage.getItem('name');
      
      // Si el nombre del usuario existe, actualizar el contenido de la página
      if (userName) {
        document.getElementById('welcome-message').textContent = `Bienvenido/a ${userName}`;
      } else {
        // Si no hay nombre de usuario en localStorage, redirigir a la página de login
        alert("Ingrese Credenciales")
        window.location.href = '/login';

      }
    });
  </script>
</body>
</html>
