<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reserva de Canchas de Fútbol</title>
  <link rel="stylesheet" href="../css/reserva.css">
  <link rel="stylesheet" href="../css/calendar.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="header.js" defer></script>
</head>
<body>
  <div id="header-placeholder"></div>
  
  <main>
    <div class="container" id="container">
      <section id="canchas">
        <h2>Paso 1: Selecciona una Cancha</h2>
        <select id="select-canchas"></select> <!-- Selector sin opciones hardcodeadas -->
      </section>
    
        <section id="calendario">
          <h2>Paso 2: Selecciona Fecha y Hora</h2>
          <form id="form" class="hour__form" aria-readonly="true" readonly>
            <div id="cols" class="hour__cols" aria-readonly="true" readonly></div>
          </form> 
        </section>
    
        <section id="informacion">
          <h2>Información de Contacto</h2>
          <form>
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" required>
 
          </form>
        </section>
        <button type="submit">Confirmar Reserva</button>
    </div>
    
  </main>
  <script type="module" src="scripts/choice_calendar.js"></script>
</body>
</html>
