<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Reservas</title>
  <link rel="stylesheet" href="../css/reserva.css">

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="header.js" defer></script>
  <script src="/scripts/ver_reservas.js" defer></script> <!-- Nuevo script -->
</head>
<body>
  <div id="header-placeholder"></div>

  <div class="container">
    <table id="reservas">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Bloque</th>
          <th>Cancha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="reservas-body">
        <!-- Las reservas se insertarán aquí -->
      </tbody>
    </table>
  </div>
</body>
</html>
